<div class="nte-pile">
  {{#if confused}}
  {{ add good bad }}
  <i class="confused fa-solid fa-circle-half-stroke"></i>
  {{else}}
  {{#unless (lt good 0)}}
  <div>
    {{ good }}
    <i class="good fa-solid fa-circle-dot"></i>
  </div>
  {{/unless}}
  {{#unless (lt bad 0)}}
  <div>
    <i class="bad fa-solid fa-circle"></i>
    {{ bad }}
  </div>
  {{/unless}}
  {{/if}}
</div>
