@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.nte-vital-modificator {
  width: 2.5rem !important;
}

.nte-separator {
  width: 0.5rem;
}

.nte-health-update {
  margin: 0 0.1rem;
}

.actor-sheet {
  img {
    height: 175px !important;
    width: auto !important;
  }

  .sheet-header {
    margin: 0 0 0.25rem 0;
    input[type="number"] {
      text-align: center;
    }

    @include flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end !important;
    .nte-header-seconde-section {
      flex: unset;
      width: 14rem;
      @include flex;
      flex-direction: column;
      gap: 0.5rem;
      .nte-actor-roll {
        width: 100%;
      }
    }
  }
  .nte-actor-controles {
    @include flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
    button {
      width: 4rem;
    }
    div {
      white-space: nowrap;
    }
  }

  .nte-talents {
    @include flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  .nte-talent {
    @include flex;
    flex-direction: column;
    gap: 0.1em;

    input {
      text-align: center;
    }
  }

  .nte-traits {
    .nte-hexagon-section {
      --hex-color: #f0f0f0;
      --hexagon-scale: 1.7;
      textarea {
        text-align: center;
      }
    }
  }

  .nte-actor-edit.active {
    background-color: #1e9b8e;
  }

  .hexagon-bottom-value {
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    &:hover {
      cursor: pointer;
      background-color: #1e9b8e; // #6a6a6aa8;
    }
  }

  .hexagon.active {
    --hex-color: #1e9b8e;
  }
}
