{{log actor}}

<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{> (partial moduleId "actor/header.hbs") moduleId=moduleId actor=actor}}
  {{> (partial moduleId "actor/traits.hbs") moduleId=moduleId actor=actor}}
</form>
