{{log actor}}

<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{> (partial moduleId "actor/header.hbs") moduleId=moduleId actor=actor}}
  <textarea
    rows="10"
    name="system.note"
    placeholder="{{localize 'MYSYST.Actor.note'}}"
    >{{ actor.system.note }}</textarea
  >
</form>
