{{log actor}}

<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{> (partial moduleId "actor/header") moduleId=moduleId actor=actor edit=edit}}
  {{> (partial moduleId "actor/traits") moduleId=moduleId actor=actor edit=edit}}
</form>
