<section class="nte-bags">
  {{!-----------------------------------------}}
  {{!-- bags --}}
  {{!-----------------------------------------}}
  <div class="nte-bag">
    <textarea name="system.bag1" rows="37">{{ actor.system.bag1 }}</textarea>
    <textarea name="system.bag2" rows="37">{{ actor.system.bag2 }}</textarea>
  </div>
</section>
