{{!-- ----------------------------------------- --}}
{{!-- Header --}}
{{!-- ----------------------------------------- --}}
<header class="sheet-header">
  <img
    src="{{ actor.img }}"
    data-edit="img"
    title="{{ actor.name }}"
    height="100"
    width="177"
  />
  <div class="nte-actor-roll">
    <button
      class="nte-actor-roll-button"
      data-action="roll"
      title="{{localize 'NTE.Actor.roll'}}"
    >
      <i class="fas fa-dice"></i>
    </button>
</header>
